body{
    background-color: rgba(85, 85, 249, 0.614);
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
header{
    text-align: center;
    color: white;
    font-weight: bolder;
}
main{
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: black;
    width: 60%;
    height: auto;
    background-color: white;
    box-shadow: 3px 3px 10px black;
    border-radius: 10px;
    padding: 10px;
}
#regras{
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black; 
}
#texto{
    padding: 10px;
    width: 100%;
    text-align: justify;
}
#Enviar{
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-weight: bolder;
    background: linear-gradient(45deg, grey, transparent);
}
#reiniciar{
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(45deg, grey, transparent);
    border: 0;
    font-weight: bolder;
}
#container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px;
    width: 100%;
}
#number{
    border-radius: 10px;
    height: 20px;
    width: 100px;
}
#resultado{
    display: flex;
    width: 90%;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-weight: bolder;
    font-size: 1.2em;
    border-radius: 10px;
    margin: auto;
    margin-bottom: 20px;

}
footer{
    padding: 10px;
    text-align: center;
    color: white;
    font-weight: bolder;
}

a{
    color: white;
    font-style: italic;
}

a:hover{
    color: black;
    font-weight: bolder;
}